*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 100%;
    height: 100vh;
    background-color: rgba(236, 17, 170, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator{
background-color: rgb(106, 22, 184);
    padding: 20px 20px;
    border: 2px solid rgb(133, 127, 139);
    border-radius: 20%;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: -8px -8px 15px rgba(236, 17, 17, 0.199),
                5px 5px 15px rgba(0, 0, 0, 0.5);
    background: rgba(148, 65, 226, 0.555);
    font-size: 24px;
    margin: 2px;
    cursor: pointer;
    color: white;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}
form .display input{
    text-align: right;
    flex : 1;
    border: 0.5px solid white;
    box-shadow: none;
    font-size: 45px;
}
